<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Momentum.Pm.Api" version="5.15.1.60" targetFramework="net48" />
  <package id="ServiceStack.Common" version="3.9.58" targetFramework="net48" />
  <package id="ServiceStack.Text" version="3.9.58" targetFramework="net48" />
  <package id="SharpGL" version="2.4.1.2" targetFramework="net461" />
  <package id="WinUSBNet" version="1.0.3" targetFramework="net461" />
</packages>